<template>
  <top-nav/>
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

          <div class="box-header">
            <h3 class="box-title">Listado de Horas Confirmadas</h3>
          </div>

          <div class="box-body">
            <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                  <select class="form-control" v-model="client_id" @change="week_number = 0">
                    <option value=0>Seleccione Cliente</option>
                    <option v-for="client in data.clients" :key="client.id" v-bind:value="client.id" >{{client.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <select class="form-control" @change="onChange($event)" v-model="week_number">
                    <option value=0>Seleccione Semana</option>
                    <option v-for="item in data.weeks" :key="item.week" v-bind:value="item.week" :year="item.year">{{`(${item.week}) ${item.days}`}}</option>
                  </select>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <div class="col-sm-12 row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 row" v-if="days.data.length == 0 && week_number > 0">
                  <div class="alert alert-danger" role="alert">
                    No hay horas confirmadas para la semana seleccionada.
                  </div>
                </div>

                <div class="col-sm-8 row" v-if="days.data.length > 0">
                  <div class="col-4 mt-4">
                    <table class="table table-bordered">
                      <tbody v-for="user in data.users" :key="user.id">
                        <tr class="col-12">
                          <td class="col6 text-left">{{user.name}}</td>
                          <td class="col6 text-right">{{user.amount}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr class="col-12">
                          <td class="col6">Sin Asignar</td>
                          <td class="col6">{{not_assigned}}</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <div class="col-4" v-for="day in days.data" :key="day.id" >
                    <table class="table col-12 table-bordered mt-4">
                      <thead class="thead-dark">
                        <tr>
                          <th colspan="2">{{day.text}}</th>
                        </tr>
                      </thead>
                      <tbody v-for="turn in day.turns" :key="turn.id">
                        <tr class="col-12">
                          <td class="col4">{{turn.turn}}</td>
                          <td>
                            <label v-if="turn.user > 0">{{ data.users.find(element => element.id == turn.user).name}}</label>
                            <label v-if="turn.user == 0" class="text-warning"><h5>⚠</h5></label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <a class="btn btn-success" @click="send_hours()">Ingresar Disponibilidad</a>



                </div>
                <div class="col-sm-2"></div>
              </div>

            </div>
          </div>

      </div>
    </div>
  </div>

</template>

<script>
import TopNav from '@/components/TopNav.vue'
export default {
  components: { TopNav },
  name: 'HoursAvailable',
  data () {
    return {
      data: [],
      client_id: 0,
      week_number: 0,
      not_assigned: 0,
      year: '',
      days: { data: [], total_by_users: []},
      user_id: window.localStorage["user_id"]
    }
  },
  beforeCreate() {
    send_http('GET', null, '/sheets/current_week_more_five')
    .then(response => response.json())
    .then(data => this.data = data)
  },
  methods: {
    invalidSelectors(){
      if (this.week_number == 0 || this.client_id == 0){
        return true
      }else{
        return false
      }
    },
    showAlert(text) {
      this.$swal(text);
    },
    onChange(event) {
      if (this.invalidSelectors()){
         this.showAlert('Debe seleccionar cliente y semana.')
        return
      }
      this.$swal.showLoading()
      let client_id = this.client_id
      let week = event.target.value
      let year = event.target.options[event.target.options.selectedIndex].getAttribute('year')
      let body_params = { client_id: client_id, year: year, week_number: week }
      send_http('POST', body_params, '/sheets/confirmed')
      .then(response => response.json())
      .then(data => this.showData(data))

    },
    showData(data){
      this.$swal.close()
      this.days = data.data
      this.year = data.year
      this.not_assigned = 0
      this.days.data.forEach(day => {
        day.turns.forEach(turn => {
          if (turn.user > 0){
            this.data.users.find(element => element.id == turn.user).amount += 1
          }else{
            this.not_assigned += 1
          }
        })
      })

    }
  }
}

function send_http(method, body_params, end_point){
    var parameters = {
        method: method,
        headers:  {'Content-Type': 'application/json'},
        mode: 'cors',
        cache: 'default'
    }
    if (body_params != null){
      parameters.body = JSON.stringify(body_params)
    }
  return fetch(`http://localhost:3000${end_point}`,parameters)
}

</script>

