<template>
  <top-nav/>
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

          <div class="box-header">
            <h3 class="box-title">Listado de Horas Disponibles</h3>
          </div>

          <div class="box-body">
            <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                  <select class="form-control" v-model="client_id" @change="week_number = 0">
                    <option value=0>Seleccione Cliente</option>
                    <option v-for="client in data.clients" :key="client.id" v-bind:value="client.id" >{{client.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <select class="form-control" @change="onChange($event)" v-model="week_number">
                    <option value=0>Seleccione Semana</option>
                    <option v-for="item in data.weeks" :key="item.week" v-bind:value="item.week" :year="item.year">{{`(${item.week}) ${item.days}`}}</option>
                  </select>
                </div>
                <div class="col-sm-2"></div>
              </div>

              <div class="col-sm-12 row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 row" v-if="days.length > 0">

                  <div class="col-6" v-for="day in days" :key="day.id" >
                    <table class="table col-12 table-bordered mt-4">
                      <thead class="thead-dark">
                        <tr>
                          <th>{{day.text}}</th>
                          <th v-for="user in data.users" :key="user.id">{{user.name}}</th>
                        </tr>
                      </thead>
                      <tbody v-for="turn in day.turns" :key="turn.id">
                        <tr class="col-12">
                          <td class="col4">{{turn.turn}}</td>
                          <td v-for="user in turn.users.sort(function(a, b) { return a.id - b.id})" :key="user.id">
                            <input type="checkbox" v-bind:value="user.available" v-if="user.id == user_id" v-model="user.available">
                            <p v-if="user.id != user_id"><b>{{ user.available ? '&#9745;' : '&#9744;' }}</b></p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <a class="btn btn-success" @click="send_hours()">Ingresar Disponibilidad</a>



                </div>
                <div class="col-sm-2"></div>
              </div>

            </div>
          </div>

      </div>
    </div>
  </div>

</template>

<script>
import TopNav from '@/components/TopNav.vue'
export default {
  components: { TopNav },
  name: 'HoursAvailable',
  data () {
    return {
      data: [],
      client_id: 0,
      week_number: 0,
      year: '',
      days: [],
      user_id: window.localStorage["user_id"]
    }
  },
  beforeCreate() {
    send_http('GET', null, '/sheets/current_week_more_five')
    .then(response => response.json())
    .then(data => this.data = data)
  },
  methods: {
    invalidSelectors(){
      if (this.week_number == 0 || this.client_id == 0){
        return true
      }else{
        return false
      }
    },
    showAlert(text) {
      this.$swal(text);
    },
    onChange(event) {
      if (this.invalidSelectors()){
         this.showAlert('Debe seleccionar cliente y semana.')
        return
      }
      this.$swal.showLoading()
      let client_id = this.client_id
      let week = event.target.value
      let year = event.target.options[event.target.options.selectedIndex].getAttribute('year')
      let body_params = { client_id: client_id, year: year, week_number: week }
      send_http('POST', body_params, '/sheets/avaliable')
      .then(response => response.json())
      .then(data => this.showData(data))

    },
    showData(data){
      this.$swal.close()
      this.days = data.data
      this.year = data.year
    },
    send_hours(){
      this.$swal.fire({
        title: 'Esta seguro de enviar los datos?',
        text: "Los horariios seran calculados una vez puse aceptat!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Aceptar'
      }).then((result) => {
        if (result.isConfirmed) {
          let body_params = { client_id: this.client_id, week: this.week_number, year: this.year, turn: this.days }
          send_http('POST', body_params, '/sheets/add_hours')
          .then(this.send_copmplet())

        }
      })
    },
    send_copmplet(){
      this.$swal.fire('Proceso Completo', 'Tu disponibilidad ha sido ingresada.', 'success')
      this.client_id = 0
      this.week_number = 0,
      this.year = ''
      this.days = []
    }
  }
}

function send_http(method, body_params, end_point){
    var parameters = {
        method: method,
        headers:  {'Content-Type': 'application/json'},
        mode: 'cors',
        cache: 'default'
    }
    if (body_params != null){
      parameters.body = JSON.stringify(body_params)
    }
  return fetch(`http://localhost:3000${end_point}`,parameters)
}

</script>

