<template>
  <nav>
    <router-link to="/hours_available">Horas Disponibles</router-link>
    <router-link to="/hours_confirmed">Horas Confirmadas</router-link>
  </nav>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
  margin-left: 10px
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>